@model IEnumerable<CadastroDeFornecedores.Domain.Models.Empresa>

@{
    ViewData["Title"] = "Lista de Empresas";
}

<h1>Lista de Empresas</h1>

<br />
<table class="table table-responsive-md table-striped border">
    <thead>
        <tr>
            <th>
                Nome Fantasia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UF)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-viewName="Edit">Editar</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-viewName="Delete">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
