@model IEnumerable<CadastroDeFornecedores.Domain.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Fornecedores</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                CPF ou CNPJ
            </th>
            <th>
                Data de Cadastro
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                Telefone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPFouCNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefones.FirstOrDefault().Numero)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-viewName="Edit">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-viewName="Delete">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
