@model IEnumerable<CadastroDeFornecedores.Domain.Models.Fornecedor>

@{
    ViewData["Title"] = "Lista de Fornecedores";
}

<h1>Lista de Fornecedores</h1>

<br />
<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input class="form-control" placeholder="Nome" type="text" name="BuscarNome">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input class="form-control" placeholder="CPF ou CNPJ" type="number" name="BuscarCPFouCNPJ">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input class="form-control" placeholder="Data de Cadastro" type="date" name="BuscarData">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-info float-right" />
            </div>
        </div>
    </div>
</form>
<table class="table table-responsive-md table-striped border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                CPF ou CNPJ
            </th>
            <th>
                Data de Cadastro
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                Telefone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPFouCNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefones.FirstOrDefault().Numero)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-viewName="Edit">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-viewName="Delete">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
